<div class="arrowBox" onclick=<%=leftArrowHref %>>
    <img src=<%=leftArrowSrc %> >
    <span class="vertSpanArrLeft"><%=leftArrowSpan %></span>
</div>

<button onclick="location.href='/cabinet'">ЗАКАЗАТЬ</button>

<div class="arrowBox" onclick=<%=rightArrowHref %>>
    <span class="vertSpanArrRight"><%=rightArrowSpan %></span>
    <img src=<%=rightArrowSrc %>>
</div>