

        <% for(var i=0; i<img.length;i++) {%>

    <div class="inCatalogImgBox" style="margin-top: 10px">

        <img src="<%=img[i].imgPath %>" onclick="location.href='/openCardProduct/<%=img[i].idGroup %>/<%=img[i].strictArtikul %>'">
        <span><%=img[i].descriptImg%></span>
        <span>арт.<%=img[i].strictArtikul%></span>

        <% if(userName !== 'Гость'){%>
            <span><%=img[i].price%> грн.</span>
        <%} %>
    </div>
        <%} %>


