<!DOCTYPE html>
<html lang="ru">

    <%- include ../../common/head %>

    <body>

        <%- include ../../common/shapka %>

        <!--<button type="button" class="btn btn-outline-dark">Войти</button>-->

        <!--<button type="button" class="btn btn-outline-dark" onclick="location.href='/actionInRegForm'">Регистрация</button>-->

        <%- include ../registrForm %>
        <%- include ../enterForm %>
        <%- include ../logInRegButtons %>



        <h1><%=catalogName %></h1>

        <div id="inCatalogBox" onmousedown="return false">
            <%- include catalogImages %>
        </div>

        <div class="navBoxInCatalogs" onmousedown="return false">
            <%- include arrowNav %>
        </div>

        <%- include ../../common/footer %>

    </body>

</html>
