<!DOCTYPE html>
<html lang="ru">
<%- include ../common/head %>

<body>
<%- include ../common/shapka %>

<a href="/groupAdd" style="margin-top: 10px">add new Group</a>


<div id="inCatalogBox" onmousedown="return false">

    <% for(let i=0; i<groups.length;i++) {%>
    <div class="inCatalogImgBox">
        <span style="font-size: 30px;"><%=groups[i].title %></span>
        <a href="/cardAdd/<%=groups[i]._id %>" style="height:100px; border: solid; border-radius: 7px; line-height: 100px; text-decoration: none">Добавить/Удалить</a>
    </div>
    <%} %>
</div>

<h2 style="margin: 10px; text-align: center">Заказы</h2>

<a href="/allOrdersInBasckets">Корзины</a>

<a href="/basaNewFullOrders">Новые заказы</a>

<a href="/basaCompletedOrders">Отправленные заказы</a>

<h2 style="margin: 10px; text-align: center">Новые пользователи</h2>
<a href="/basaUsers">База регистраций</a>

<div style="display: flex; flex-direction: row-reverse; width:98%; margin: auto; flex-wrap: wrap-reverse;">

    <% for(let i=0; i<base.length;i++) {%>
    <!--<div class="inCatalogImgBox" >-->
    <div style="display: flex;flex-direction: column;flex-grow: 1; align-items: center; border: 1px solid; border-radius: 7px; font-size: 20px;">


        <span style="color: brown"><%=base[i].date.toDateString() %></span>
        <span><%=base[i].name %></span>
        <span><%=base[i].telNo %></span>
        <span><%=base[i].town %></span>
        <span><%=base[i].business %></span>
        <span><%=base[i].email %></span>
        <span><%=base[i].viber %></span>
        <button onclick="location.href='/markUser/<%=base[i]._id %>'">Mark</button>

    </div>
    <%} %>
</div>


</body>

</html>