<!DOCTYPE html>
<html lang="ru">


<%- include ../common/head %>

<body>
<%- include ../common/shapka %>


<%- include ./registrForm %>
<%- include ./enterForm %>
<%- include ./logInRegButtons %>

<%- include ./admRegistr %>
<%- include ./admAuthor %>


<div id="cabinetMainBox">
  

    <div id="cabinetTextBox">
        <h1>Условия сотрудничества</h1>
        <div id="cabinetTel">
            <div id="boxInTextBox">
                <span>
                    Зарегистрированные пользователи видят все оптовые цены. При прохождении регистрации вы можете подать заявку на добавление вас в группу Viber, где ежедневно публикуется самое свежее и актуальное наличие товара и главные новости Arco iris.
                    Обратите внимание, что в данный момент на сайте представлена лишь небольшая часть ассортимента товаров нашей компании. Для возможности добавления вас в группу, регистрируйте телефонный номер на котором есть Viber.
                </span>
                <span>
                    Arco iris - украинский производитель женского белья и домашней одежды. Заботясь о своих партнерах, наша компания предлагает гибкие варианты оптовых закупок своей продукциии. Товар высылается Новой почтой по всей Украине. Стандартно в ростовке содержится 4 размера S, M, L, XL. Мы предоставляем возможность выбора из них тех, которые необходиы вам сейчас. Это особенно актуально, когда у вас повышеный спрос на определенные размеры. <span style="color: #0a0;">Сумма минимального заказа от 2000 гривен. </span>
                </span>
                <span>
                    Срочные заказы высылаются Новой почтой в тот же день. Такой заказ согласовываетя с менеджером в телефонном режиме исходя из наличия на складе. Так же вы можете получить информацию, какие  модели покроены или уже находятся в отшиве и поступят на склад в ближайшие дни. Кроме того вы можете сделать предварительный заказ и мы внесем определенные коррективы в наш план отшива.
                </span>
                   
                <span>
                    Также компания Arco-Iris импортирует продукцию зарубежных производителей женского белья и купальников. У нас вы можете купить оптом нижнее белье Donafen и купальники Teres, Polovi и Rivage Line.
                </span>
                    <span>
                Помимо заказа по телефону Вы можете закупить продукцию непосредственно у нас в офисе в Киеве и сразу забрать самовывозом то, что есть в наличии на складе.
                </span>
                    <span>
                    У нас вы найдете самые низкие цены и самое высокое качество. Вы должны убедится в этом лично. Звоните нам уже сегодня !
                </span>

                <span>
                  т. 097-708-69-10;
                </span>

                <span>
                  т. 093-710-60-55;
                </span>

                <span>
                  т. 063-993-25-07;
                </span>

            </div>

        </div>
    </div>

</div>


<footer>
    <div id="footLeftBox">
        <div class="followTextIcons">
            <span>Follow us:</span>
            <span>Find us: </span>
        </div>
        <div class="followTextIcons">
            <span>Instagram Facebook </span>
            <span>marker map</span>
        </div>
    </div>

    <div id="footCentrBox">
        <span>+380977086910</span>
        <span>+380937106055</span>
        <span>+380639932507</span>
        <span>
            &#8482; Arco iris 2018. All Rights Reserved.
        </span>
    </div>

    <div id="footRightBox">
        <div id="footAdress">
            <span>Kiev,</span>
            <span>Magnitogorskaya 1-b</span>

            <%if(adminButt){%>
                <a href="<%=adminButt %>">admin</a>
                <a href="/admLogOut">log out</a>
            <%}else{%>
                <a class="nav-link" href="" id="enter" data-toggle="modal" data-target="#enterModalAdm" style="text-decoration: none; color: #ccc; margin-left: -14px; line-height: 14px; ">service_in</a>
                <%if(adminReg){%>
                    <a class="nav-link" style=" margin-left: -14px; line-height: 14px;" id="reg" data-toggle="modal" data-target="#registrModalAdm">service_reg</a>
                <%}%>
            <%}%>

        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>



</body>
</html>