<!DOCTYPE html>
<html lang="ru">
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>-->
        <!--Условия оптовых продаж женского нижнего белья и домашней одежды напрямую от производителя. Купить оптом женское белье в Украине.-->
    <!--</title>-->
    <!--<meta http-equiv="x-ua-compatible" content="ie=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<meta name="description" content="Ознакомтесь с условиями совершения оптовых закупок женского белья напрямую от украинского производителя, швейной фабрики Arco iris. Выбирайте, звоните, заказывайте.">-->
    <!--<script src="libs/jq/jquery-3.2.1.min.js"></script>-->
    <!--<script src="libs/jq/jquery-ui.min.js"></script>-->
    <!--<link rel="stylesheet" href="public/style.css">-->
    <!--<link rel="stylesheet" href="public/styleMobile.css">-->

<!--</head>-->

<%- include ../common/head %>

<body>
<%- include ../common/shapka %>


<%- include ./registrForm %>
<%- include ./enterForm %>
<%- include ./logInRegButtons %>

<%- include ./admRegistr %>
<%- include ./admAuthor %>


<div id="cabinetMainBox">
    <!--<div id="passwBox">-->
        <!--<input id="inp" type="text" name="password">-->
        <!--<img src="img/eye.png" id="showpass" alt="">-->
        <!--<button class="buttPassw" id="buttPasswEnter" onmousedown="return false">Войти</button>-->
        <!--<button class="buttPassw" onclick="location.href='secure_email_form.php'" onmousedown="return false">Регистрация</button>-->
    <!--</div>-->

    <!--<div id="uncorectPasBox">-->
        <!--<span class="spanPrice">Чтобы ознакомиться с оптовыми ценами</span>-->
        <!--<span class="spanPrice">зарегистрируйтесь</span>-->
        <!--<span id="spanUncorectPas">неверный пароль</span>-->
    <!--</div>-->

    <div id="cabinetTextBox">
        <h1>Условия сотрудничества</h1>
        <div id="cabinetTel">
            <div id="boxInTextBox">
                <span>
                    Зарегистрированные пользователи видят все оптовые цены. После прохождения регистрации вы будете добавлены в группу Viber, где ежедневно публикуется самое свежее и актуальное наличие товара и главные новости Arco iris.
                    Обратите внимание, что в данный момент на сайте представлена лишь небольшая часть ассортимента товаров нашей компании. Для возможности добавления вас в группу, регистрируйте телефонный номер на котором есть Viber.
                </span>
                <span>
                    Arco iris - украинский производитель женского белья и домашней одежды. Заботясь о своих партнерах, наша компания предлагает гибкие варианты оптовых закупок своей продукциии. Товар высылается Новой почтой по всей Украине. Стандартно в ростовке содержится 4 размера S, M, L, XL. Мы предоставляем возможность выбора из них тех, которые необходиы вам сейчас. Это особенно актуально, когда у вас повышеный спрос на определенные размеры. <span style="color: #0a0;">Сумма минимального заказа от 2000 гривен. </span>
                </span>
                <span>
                    Срочные заказы высылаются Новой почтой в тот же день. Такой заказ согласовываетя с менеджером в телефонном режиме исходя из наличия на складе. Так же вы можете получить информацию, какие  модели покроены или уже находятся в отшиве и поступят на склад в ближайшие дни.
                </span>
                    <span>
                    Кроме того вы можете сделать предварительный заказ и мы внесем определенные коррективы в наш план отшива.
                </span>
                <span>
                    Также компания Arco-Iris импортирует продукцию зарубежных производителей женского белья и купальников. У нас вы можете купить оптом нижнее белье Donafen и купальники Teres, Polovi и Rivage Line.
                </span>
                    <span>
                Помимо заказа по телефону Вы можете закупить продукцию непосредственно у нас в офисе в Киеве и сразу забрать самовывозом то, что есть в наличии на складе.
                </span>
                    <span>
                    У нас вы найдете самые низкие цены и самое высокое качество. Вы должны убедится в этом лично. Звоните нам уже сегодня !
                </span>

                <span>
                  т. 097-708-69-10;
                </span>

                <span>
                  т. 093-710-60-55;
                </span>

                <span>
                  т. 063-993-25-07;
                </span>

            </div>

        </div>
    </div>

</div>


<footer>
    <div id="footLeftBox">
        <div class="followTextIcons">
            <span>Follow us:</span>
            <span>Find us: </span>
        </div>
        <div class="followTextIcons">
            <span>Instagram Facebook </span>
            <span>marker map</span>
        </div>
    </div>

    <div id="footCentrBox">
        <span>+380977086910</span>
        <span>+380937106055</span>
        <span>+380639932507</span>
        <span>
            &#8482; Arco iris 2017. All Rights Reserved.
        </span>
    </div>

    <div id="footRightBox">
        <div id="footAdress">
            <span>Kiev,</span>
            <span>Magnitogorskaya 1-b</span>

            <%if(adminButt){%>
                <a href="<%=adminButt %>">admin</a>
                <a href="/admLogOut">log out</a>
            <%}else{%>
                    <a class="nav-link" style=" margin-left: -14px; line-height: 14px;" id="enter" data-toggle="modal" data-target="#enterModalAdm">service_in</a>

                <%if(adminReg){%>
                    <a class="nav-link" style=" margin-left: -14px; line-height: 14px;" id="reg" data-toggle="modal" data-target="#registrModalAdm">service_reg</a>
                <%}%>
            <%}%>

        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89132511-3', 'auto');
    ga('send', 'pageview');

</script>



<!--<script src="js/ent.js"></script>-->


<!--<footer>-->
    <!--<div id="footLeftBox">-->
        <!--<div class="followTextIcons">-->
            <!--<span>Follow us:</span>-->
            <!--<span>Find us: </span>-->
        <!--</div>-->
        <!--<div class="followTextIcons">-->
            <!--<span>Instagram Facebook </span>-->
            <!--<span>marker map</span>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div id="footCentrBox">-->
        <!--<span>+380977086910</span>-->
        <!--<span>+380937106055</span>-->
        <!--<span>+380639932507</span>-->
        <!--<span>-->
            <!--&#8482; Arco iris 2017. All Rights Reserved.-->
        <!--</span>-->
    <!--</div>-->

    <!--<div id="footRightBox">-->
        <!--<div id="footAdress">-->
            <!--<span>Kiev,</span>-->
            <!--<span>Magnitogorskaya 1-b</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->



<!--<script>-->
    <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
            <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
        <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
    <!--})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

    <!--ga('create', 'UA-89132511-3', 'auto');-->
    <!--ga('send', 'pageview');-->

<!--</script>-->

</body>
</html>