<!DOCTYPE html>
<html lang="ru">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <%- include ./registrForm %>
        <%- include ./enterForm %>

        <link rel="stylesheet" href="/public/style.css">
        <link rel="stylesheet" href="/public/styleMobile.css">
        <link rel="stylesheet" href="/public/styleProductCard.css">


        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    
        <script
        src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/fslider/flexslider.css" type="text/css">
        <script src="/fslider/jquery.flexslider.js"></script>
        <script>
         $(window).load(function() {
              $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 80,
                itemMargin: 5,
                asNavFor: '#slider'
              });
            
              $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                sync: "#carousel"
              });
         });

   
      </script>
</head>
<body>
<%- include ../common/shapka %>


<div class="cardProduct">
    <input type="hidden" id="idGroup" value="<%=idGroup %>">
    <input type="hidden" id="artikul" value="<%=artikul %>">
    <input type="hidden" id="imgLength" value="<%=img.length %>">
    <input type="hidden" id="colorsLength" value="<%=colors.length %>">


    <div class="box-flexslider">
      <div id="slider" class="flexslider">
        <ul class="slides">
          <% for(var i=0; i<img.length;i++) {%>
          <li style="text-align: center">
            <img id="img<%=i%>" src="<%=img[i].imgPath %>" >
            <span id="descriptImg<%=i%>" style="color: #777"><%=img[i].descriptImg %></span>

          </li>
          <%} %>
        </ul>
      </div>
      <div id="carousel" class="flexslider">
        <ul class="slides">
          <% for(var i=0; i<img.length;i++) {%>
          <li>
            <img src="<%=img[i].imgPath %>" >
          </li>
          <%} %>
        </ul>
      </div>
    </div>

    <div style="display: flex; flex-direction: column">

    <span class="topics">арт. <%=artikul %></span>

      <div class="cardInfo">
          <span class="topics">Наличие на складе(шт):</span>
          <select id="selectForm"> 
            <% for(var i=0; i<colors.length;i++) {%>
                <option id="selectColorId" value="<%=colors[i].color %>"><%=colors[i].color %></option> 
            <%} %>
          </select>
         
      </div>

      <div class="box-size-cell" style="display: flex; text-align: center; "> 
          <div class="oneSizeColumnBox">
              <label for="s">S</label>
              <button onclick="increase('s')">+</button>
              <span id="s" class="size-cell" ></span>
              <button onclick="decrease('s')">-</button>
          </div>
          <div class="oneSizeColumnBox">
              <label for="m">M</label>
              <button onclick="increase('m')">+</button>
              <span id="m" class="size-cell" ></span>
              <button onclick="decrease('m')">-</button>
          </div>
          <div class="oneSizeColumnBox">
              <label for="l">L</label>
              <button onclick="increase('l')">+</button>
              <span id="l" class="size-cell"></span>
              <button onclick="decrease('l')">-</button>
          </div>
          <div class="oneSizeColumnBox">
              <label for="xl">XL</label>
              <button onclick="increase('xl')">+</button>
              <span id="xl" class="size-cell" ></span>
              <button onclick="decrease('xl')">-</button>
          </div>
      </div>
      <% if(access === 'true'){%>
        <% if(textCard.price){%>
            <% if(colors.length > 0){%>
              <% if(adminSesion === 'false'){%>
                <button class="logInRegButt" onclick="putInBascket()" style="width: fit-content; font-size: 15px; line-height: 25px; margin-top: 25px; padding: 0 5px 0 5px;">В КОРЗИНУ</button>
              <%}%>
            <%}%>
            <span class="topics" style="margin-top: 20px">Цена: <%=textCard.price %> грн.</span>
        <%}%>
      <%} else{%>
        <span class="span-textCard" style="margin-top: 5px; font-size: 12px;">просмотр оптовых цен доступен после регистрации</span>
        <div style="display: flex; justify-content: flex-end; flex-direction: column;">
            <button class="logInRegButt" style="width: fit-content; font-size: 10px; line-height: 5px;">
                <a class="nav-link" id="reg" data-toggle="modal" data-target="#registrModal">Регистрация</a>
            </button>
          <button class="logInRegButt" style="width: fit-content; font-size: 10px; line-height: 5px;">
            <a class="nav-link" id="enter" data-toggle="modal" data-target="#enterModal">Войти</a>
          </button>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
      <%} %>


      <div class="box-text" style="margin-bottom: 5px;">
        <span class="topics">Описание товара:</span>
        <span class="topics">арт. <%=artikul %></span>
        <span class="span-textCard"><%=textCard.text %></span>
      </div>

   </div>

   

<script>
  const imgLength = document.getElementById('imgLength').value;
  const colorsLength = document.getElementById('colorsLength').value;
    const selectForm = document.getElementById('selectForm');
    const firstColor = selectForm.value;
    const idGroup = document.getElementById('idGroup').value;
    const artikul = document.getElementById('artikul').value;

    const s = document.getElementById('s');
    const m = document.getElementById('m');
    const l = document.getElementById('l');
    const xl = document.getElementById('xl');
    const max={};
    
    function increase(size){
      const elemInner = document.getElementById(size);
      
      if(elemInner.innerHTML<max[size]) {elemInner.innerHTML = elemInner.innerHTML*1 + 1}
      
    }

    function decrease(size){
      const elemInner = document.getElementById(size);

      if(elemInner.innerHTML>0) {elemInner.innerHTML = elemInner.innerHTML*1 - 1}

    }

             
    function putInBascket(){
      const colorOrder = selectForm.value;
      const sInner = s.innerText, mInner = m.innerText, lInner = l.innerText, xlInner = xl.innerText;
      let img = '';
      for(let i=0; i<imgLength; i++){
           const descriptImg = document.getElementById('descriptImg'+i)
          if(document.getElementById('descriptImg'+i).innerHTML == colorOrder){
            img = document.getElementById('img'+i).src;
          }else{
            img = document.getElementById('img'+0).src;
          }
      }
      axios.post(`/putInBascket`, {img, colorOrder, idGroup, artikul, sInner, mInner, lInner, xlInner})
        .then(response => {
          alert(response.data);
          
        })
        .catch(function (err) {
              alert(err.message);
        });
    }

    
    if(colorsLength > 0){
        axios.post(`/getFirstColorSizes`, {firstColor, idGroup, artikul})
          .then(response => {
            s.innerText = max.s = response.data.sizeS;
            m.innerText = max.m = response.data.sizeM; 
            l.innerText = max.l = response.data.sizeL;
            xl.innerText = max.xl = response.data.sizeXL;
          })
          .catch(function (err) {
                alert(err.message);
          });
    }

   selectForm.onchange = function (e) {
      const onchangeColor= selectForm.value;
      axios.post(`/getOnchangeColorSizes`, {onchangeColor, idGroup, artikul})
                .then(response => {
                  s.innerText = max.s = response.data.sizeS;
                  m.innerText = max.m = response.data.sizeM; 
                  l.innerText = max.l = response.data.sizeL;
                  xl.innerText = max.xl = response.data.sizeXL;
                })
                .catch(function (err) {
                      alert(err.message);
                });
    }
</script>

  </div>

</body>
</html>